body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', 'Arial';
    margin: 0;
}

* {
    box-sizing: border-box;
}

header{
    background-color: #909090;
    padding-top: 1em;

}

.page-center{
    width: 75%;
    margin: 0 auto;
}

.search {
    display: flex;
    justify-content: left;
    direction: ltr;
    margin-left: 3%;

}

header nav > ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    padding-inline-start: 0;
}

.menu-sep{
    background: url('images/menu_sep.png') no-repeat 0 0px;
    width:4px;
    height: 21px;
    margin: 0 17px;
}

#lang-menu{
    font-size: 12px;
    font-weight: bold;
    color: white;
    
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-left: 3%;
}

#logo-div{
    width: 100%; 
    height: 1em; 
    position: relative;
    
}

#logo-div > img{
    position: absolute; 
    top:-34%; 
}

.search-input{
    background: url('images/search_input.png') no-repeat 0 0;

}

#search{
    background: transparent;
    border: none;
}

footer{
    position: fixed;
    background-color: #909090;
    bottom: 0;
    width: 100%;
    height: 38px;
    padding-bottom: 5px;
    z-index: 3;    
}

footer > div > ul {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    color: white;
    font-size: 14px;
    padding-inline-start: 0;

}


footer > div > ul > li:first-child{
    background: url('images/fb_icon.png') no-repeat 0 0;
    width: 18px;
    height: 18px;
}

.footer-item{
    margin: 0 10px;
}

main{
    position: absolute;
    margin-bottom: 30px;
}

main > div.page-center {
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-evenly;
}


div.row-1{
    position: relative;
    margin-bottom: 15px;
    
}

.image-overlay{
    position: absolute;
    left: 0;

}



div.row-2{
    position: relative;
    
}

.row-2-overlay{
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 50px;
    
}

.row-2-left-cube{
    right: 204px;
    top:40px;
}

div.row-2 > h3 {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    right: 25px;
    color: #575757;
}

.row-2-overlay-link{
    top: 180px;
    right: 180px;
    width: 90px;

}

.row-2-links{
    color: #72716d;
    font-size: 13px;
    background: url("images/read_more_yellow.png") no-repeat left center;
}

div.row-2 > div {
    position: absolute;
    top: 45px;
    right: 30px;
    display: flex;
    flex-flow: column;
    width: 40px;
}

div.row-2 > div a{
    display: block;
    margin-bottom: 8px;
    
}

div.row-1 > div > div:nth-child(2){
    margin-right: 8px;
    bottom: 12px;
}

div.row-1 div {
    position: absolute;
    width: 225px;
    bottom: 10px;
    right: 5px;

}

div.row-1 h3{
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;

}

div.row-1 p{
    font-size: 13px;
    margin-top: 4px;
    color: white;
}

div.row-1 > div > div:nth-child(2) > a {
    color: white;
    font-size: 13px;
    position: absolute;
    width: 55px;
    right: 180px;
    bottom: 4px;
    background: url(images/read_more_white.png) no-repeat left center;
}

a.read-more:hover {
    color: #005ca0 !important;
    background: url("images/read_more_blue.png") no-repeat left center !important;
}






